@use '../styles/partials/breakpoints' as *;

.card {
  background-color: white;
  width: 48%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(92, 95, 110, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

  &__name {
    font-size: 2em;
  }

  &__left {
    flex: 0 0 55%;
    // background-color: yellow;
  }

  &__right {
    // background-color: aqua;
    flex: 0 0 45%;
    aspect-ratio: 1/1;
  }

  &__pictureHolder {
    background-color: #afd9f7;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__picture {
    width: 65%;
    height: 65%;
    object-fit: contain;
    object-position: 50% 50%;
  }
}

.card__hovered {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

@include small() {
  .card {
    width: 100%;
    padding: 1.5rem;

    &__left {
      flex: 0 0 40%;
    }

    &__right {
      flex: 0 0 55%;
      aspect-ratio: 1/1;
      // background-color: bisque;
    }
    &__name {
      font-size: 1rem;
    }
  }
}

@include medium() {
  .card {
    &__name {
      font-size: 1.5em;
    }
  }
}
