.card {
  background-color: white;
  width: 48%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(92, 95, 110, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

  &__name {
    font-size: 2em;
  }

  &__pictureHolder {
    background-color: #afd9f7;
    height: 163px;
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__picture {
    width: 85%;
    height: 85%;
    object-fit: contain;
    object-position: 50% 50%;
  }
}

.card__hovered {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
