@use '../styles/partials/breakpoints' as *;

.card {
  width: 48%;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1); /* Glass effect */
  backdrop-filter: blur(12px); /* Blur effect */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); /* Soft shadow */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  &__name {
    font-size: 2rem;
    color: #5a4a42; /* Dark Brown */
  }

  &__left {
    flex: 0 0 55%;
  }

  &__right {
    flex: 0 0 45%;
    aspect-ratio: 1/1;
  }

  &__pictureHolder {
    background-color: #e3b8a1; /* Soft Cashmere */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__picture {
    width: 65%;
    height: 65%;
    object-fit: contain;
    object-position: center;
  }
}

@include small() {
  .card {
    width: 100%;
    padding: 1.5rem;

    &__left {
      flex: 0 0 40%;
    }

    &__right {
      flex: 0 0 55%;
    }

    &__name {
      font-size: 1rem;
    }
  }
}

@include medium() {
  .card {
    &__name {
      font-size: 1.5rem;
    }
  }
}
