@use '../styles/partials/breakpoints' as *;

.productView {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 64px;
    width: 100%;
  }

  &__carouselContainer {
    width: 100%;
    margin-top: 2rem;
  }

  &__description {
    margin-top: 1rem;
  }

  &__descriptionSection {
    width: 100%;
    margin-top: 2rem;
  }
}

@include small() {
  .productView {
    &__header,
    &__descriptionSection {
      padding: 0 2rem 0 2rem;
    }
  }
}
@include medium() {
  .productView {
    &__header,
    &__descriptionSection {
      padding: 0 6rem 0 6rem;
    }
  }
}
@include large() {
  .productView {
    margin-top: 2rem;
    &__header {
      max-width: 1080px;
    }

    &__descriptionSection {
      max-width: 1080px;
    }

    &__carouselContainer {
      max-width: 1080px;
    }
  }
}
