@use '../styles/partials/breakpoints' as *;

.productView {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5e0c2; /* Warm beige */
  background-image: radial-gradient(
    circle,
    rgba(200, 158, 141, 0.2) 10%,
    transparent 30%
  );
  padding-top: 5rem;
  background-size: cover;
  background-position: center;

  &__header {
    font-size: 32px;
    width: 100%;
    color: #8e7b57;
  }

  &__carouselContainer {
    width: 100%;
  }

  &__description {
    margin-top: 1rem;
    color: #5a4a42;
    text-align: start;
  }

  &__descriptionSection {
    width: 100%;
    max-width: 900px; /* Added to prevent excessive width on large screens */
    font-size: 1.3rem;
    color: #222;
    background: rgba(255, 255, 255, 0.4); /* Subtle background */
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1rem auto 2rem auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    backdrop-filter: blur(8px); /* Frosted glass effect */
  }

  &__specificationLine {
    margin-top: 1rem;
    font-size: 18pt;
    color: #5a4a42;
  }
}

/* Small Screens */
@include small() {
  .productView {
    &__header {
      font-size: 48px; /* Slightly reduce header size */
      padding: 3rem 1rem 0 1rem;
    }

    &__descriptionSection {
      max-width: 90%;
      font-size: 1.1rem;
      padding: 1rem;
    }
  }
}

/* Medium Screens */
@include medium() {
  .productView {
    &__header {
      font-size: 56px;
      padding: 4rem 3rem 0 3rem;
    }

    &__descriptionSection {
      max-width: 800px;
      font-size: 1.2rem;
      padding: 1.5rem;
    }
  }
}

/* Large Screens */
@include large() {
  .productView {
    margin-top: 2rem;

    &__header {
      max-width: 1080px;
    }

    &__descriptionSection {
      max-width: 1080px;
      font-size: 1.3rem;
      padding: 2rem;
    }

    &__carouselContainer {
      max-width: 1080px;
    }
  }
}
